@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

p {
    margin: 0;
    padding: 0;
}

.footer {
    background: #2b0900;
    font-family: Arial, Helvetica, sans-serif;
    // height: 100px;
}

.contact {
    padding: 30px 20px 0px;

    &__item {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        margin: 5px 0px;
    }
}

.title {
    margin-bottom: 10px;
}

.email {
    margin-top: 10px;
}

.rights {
    text-align: right;
    color: #fff;
    font-size: 18px;
    // font-weight: 600;
    padding: 10px 0px;
}
