<div class="restaurants-wrap">
    <div class="container">
      <div class="restaurants-content">
          <!-- title -->
          <div class="title-wrap">
              <div class="delimeter"></div>
              <div class="title">
                О нас
              </div>
              <div class="delimeter"></div>
            </div>
            <!-- EOF title -->

            <!-- cards -->
            <div class="about-us">
                <!-- card -->
                <div class="card">
                    <div class="card__title">
                        Самовывоз
                    </div>
                    <div class="card__container-pickup">
                        <img src="assets/img/order.png" alt="" class="card__container__img">
                        <img src="assets/img/arrow.png" alt=""  class="card__container__arr">
                        <img src="assets/img/pizza.png" alt=""  class="card__container__img">
                        <img src="assets/img/arrow.png" alt=""  class="card__container__arr">
                        <img src="assets/img/purchase.png" alt=""  class="card__container__img">
                        <img src="assets/img/arrow.png" alt=""  class="card__container__arr">
                        <img src="assets/img/bon_appetit.png" alt=""  class="card__container__circle">
                    </div>
                </div>
                <!-- EOF card -->

                <!-- card -->
                <div class="card">
                    <div class="card__title">
                        Наши рестораны
                    </div>

                    <div class="card__container-rest">
                        <div class="card__container-rest__row">
                            <img src="assets/img/rest1.jpg" alt="" class="card__container-rest__img">
                            <div class="card__address">
                                <div class="card__address__row">
                                    <img src="assets/img/metro.png" alt="" class="card__address__img">
                                    <p class="card__address__text">Шулявская</p> 
                                </div>
                                <p class="card__address__text">ул. Академика Янгеля 16/2</p>
                            </div>
                        </div>
                        <div class="card__container-rest__row-central">
                            <img src="assets/img/rest2.jpg" alt=""  class="card__container-rest__img">
                            <div class="card__address">
                                <div class="card__address__row">
                                    <img src="assets/img/metro.png" alt="" class="card__address__img">
                                    <p class="card__address__text">Позняки</p> 
                                </div>
                                <p class="card__address__text">ул. Бориса Гмыри 30</p>
                            </div>
                        </div>
                        <div class="card__container-rest__row">
                            <img src="assets/img/rest3.jpg" alt=""  class="card__container-rest__img">
                            <div class="card__address">
                                <div class="card__address__row">
                                    <img src="assets/img/metro.png" alt="" class="card__address__img">
                                    <p class="card__address__text">Шулявская</p> 
                                </div>
                                <p class="card__address__text">ул. Академика Янгеля 16/2</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!-- EOF card -->
            </div>
           <!-- EOF cards -->
      </div>  
    </div>
</div>


