<div class="restaurants-wrap">
    <div class="container">
      <div class="restaurants-content">
          <div class="title-wrap">
              <div class="delimeter"></div>
              <div class="title">
                О нас
              </div>
              <div class="delimeter"></div>
              <!-- <div class="delimeter"></div> -->
            </div>

            <div class="about-us">
                <div class="about-us-card">

                </div>
            </div>
           
      </div>
      
    </div>
</div>


