<div class="header d-flex">
      <div class="darken-overlay">
        <!-- container -->
          <div class="container"> 
            <!-- menu logo icon -->
              <div class="header__menu">
                <img class="logo-icon" src="assets/img/logo.png" alt="">
                <div class="menu-wrap">
                    <nav>
                      <ul class="menu">
                        <li class="menu__item">
                          <a href="">О нас</a>
                        </li>
                        <li class="menu__item">
                          <a href="">Пицца</a>
                        </li>
                        <li class="menu__item">
                          <a href="">Контакты</a>
                        </li>
                      </ul>
                    </nav>
                </div>  
                <!-- <button class="order-ring-btn"> -->
                  <!-- <div class="order-ring-btn__text"> -->
                    <p class="order-ring-btn__text title">+38 (098) 999 11 99</p>
                  <!-- </div> -->
                <!-- </button>  -->
              </div> 
              <!-- EOF logo menu -->
              <!-- main info block -->
              <div class="header__message">
                  <p class="header__message_main">Хотите <span class="yellow-text">вкусно</span> 
                    и <span class="yellow-text">сытно</span> поесть?</p>
                  <p class="header__message_main">Тогда - Вам сюда!</p>
                  <!-- <p class="header__message_addit">Каждую субботу и воскресенье скидка 20%</p> -->
              </div>
              <!-- EOF main info block -->

              <div class="header__order"> 
                  <button class="order-btn">
                    <div class="order-btn__text">
                      <img class="img-icon" src="assets/img/order.png" alt="">
                      <p class="order-btn__text title">Оформить заказ</p>
                    </div>
                  </button> 
                </div>
          </div>
          <!-- EOF container -->
      </div>
      
      
     
   <!-- </div> -->
  
</div>
