<div class="product-wrap">
  <div class="container">
      <!-- title -->
      <div class="title-wrap">
        <div class="delimeter"></div>
        <div class="title">
          Меню
        </div>
        <div class="delimeter"></div>
      </div>
      <!-- EOF title -->

      <!-- menu -->
      <div class="menu-row">
          <div class="menu">
            <p *ngFor="let item of menu" class="menu__item">{{ item }}</p>
          </div>
          <div>
            <img src="assets/img/cart-icon.png" alt="" 
              class="cart-icon"
              (click)="openPopup()">
          </div>
      </div>
      
      <!-- EOF menu -->

      <!-- products -->

      <div class="products">
        <div class="row d-flex justify-content-between">
          <!-- card info -->
          <div class="col-lg-4" *ngFor="let pizza of pizzasInfo">
            <div class="card" >
              <div [ngStyle]="{'background-image': 'url(../../assets/img' + pizza.imgUrl + ')',
              'height':'200px', 'border-radius':'6px'}">
              </div>
              <div class="card__pizza">
                <p class="card__pizza__title">{{ pizza.name}}</p>
                <p class="card__pizza__ing"><span 
                    *ngFor="let ing of pizza.ingridients"> {{ ing }} </span></p>
              </div>
              <div class="card__price"  *ngFor="let portion of pizza.pricePerWeight">
                  <div class="card__price-weight">
                      <img class="pizza-icon" src="assets/img/pizza-icon.png" alt="">
                      <p class="card__price-weight__value">{{ portion.size }} см</p>
                  </div>
                  <p class="card__price__value"> {{ portion.price }} грн</p>
              </div>
              <div>
                <button class="card__order-btn align-bottom">Заказать</button>
              </div>
            </div>
          </div>
          <!-- EOF card info -->
        </div> 
      </div>
      <!-- EOF products -->

      <!-- buttons -->
      <div class="buttons">
        <button class="btn_scroll left"><</button>
        <button class="btn_scroll right">></button>
      </div>
      <!-- EOF buttons -->
  </div>
  
</div>

<form-popup *ngIf="cartPopup.isOpened"
  [header]="'Корзина'"
  [buttonAction]="'Купить'"
  [buttonCancel]="'Отменить'"
  (onClose)="closePopup()">

  <div class="content">
    12283782387
  </div>
</form-popup>