<div class="product-wrap">
  <div class="container">
      <!-- title -->
      <div class="title-wrap">
        <div class="delimeter"></div>
        <div class="title">
          Меню
        </div>
        <div class="delimeter"></div>
      </div>
      <!-- EOF title -->

      <!-- menu -->
      <div class="menu-row">
          <div class="menu">
            <p *ngFor="let item of menu" class="menu__item">{{ item }}</p>
          </div>
          <div>
            <img src="assets/img/cart-icon.png" alt="" 
              class="cart-icon"
              (click)="openPopup()">
          </div>
      </div>
      
      <!-- EOF menu -->

      <!-- products -->

      <div class="products">
        <div class="row d-flex justify-content-between">
          <!-- card info -->
          <div class="col-lg-4" *ngFor="let pizza of pizzasData">
            <div class="card" >
              <div [ngStyle]="{'background-image': 'url(../../assets/img' + pizza.imgUrl + ')',
              'height':'200px', 'border-radius':'6px'}">
              </div>
              <div class="card__pizza">
                <p class="card__pizza__title">{{ pizza.name}}</p>
                <p class="card__pizza__ing"><span 
                    *ngFor="let ing of pizza.ingridients"> {{ ing }} </span></p>
              </div>
              <div class="card__price"  *ngFor="let portion of pizza.pricePerWeight">
                  <div class="card__price-weight">
                      <img class="pizza-icon" src="assets/img/pizza-icon.png" alt="">
                      <p class="card__price-weight__value">{{ portion.size }} см</p>
                  </div>
                  <p class="card__price__value"> {{ portion.price }} грн</p>
              </div>
              <div>
                <button 
                  class="card__order-btn align-bottom"
                  (click)="addPizzaInCart(pizza)">Заказать</button>
              </div>
            </div>
          </div>
          <!-- EOF card info -->
        </div> 
      </div>
      <!-- EOF products -->

      <!-- buttons -->
      <!-- <div class="buttons">
        <button class="btn_scroll left"><</button>
        <button class="btn_scroll right">></button>
      </div> -->
      <!-- EOF buttons -->
  </div>
  
</div>

<form-popup *ngIf="cartPopup.isOpened"
  [header]="'Корзина'"
  [buttonAction]="'Купить'"
  [buttonCancel]="'Закрыть'"
  (onClose)="closePopup()">

  <div class="content">
    <div *ngIf="pizzasInCart.length > 0">
        <div *ngFor="let pizza of pizzasInCart" class="cart__row">
            <img src="assets/img/{{pizza.imgUrl}}" class="cart__image">
            <p class="cart__text name">{{ pizza.name }}</p>
    
            <select class="custom-select custom-select-lg cart__select"
            (click)="$event.stopPropagation()"
            (change)="updatePrice(pizza,$event.target.value)">
                <option *ngFor="let item of pizza.pricePerWeight"  value="{{item.price}}" >{{item.size}}
                </option>
            </select>
            <p class="cart__text yellow">{{ pizza.selectedPrice }} грн</p> 
            <p class="cart__text name">Количество: </p>
            <input type="text" class="form-control cart__quantity" 
              placeholder="" 
              [(ngModel)]="pizza.quantity"
              (click)="$event.stopPropagation()"
              required> 
             
            <button 
              class="cart__delete"
              (click)="deletePizza(pizza.id)">X</button>    
        </div>
        <div class="cart__total-price">
          <p>Общая сумма: <span class="yellow">{{ totalPrice }} грн </span></p>
        </div>
    </div>

    <div *ngIf="pizzasInCart.length == 0" class="cart__no-item">
      <p>Пока нет товаров в корзине</p>
    </div>

    
  </div>
</form-popup>